.main {
  width: 100vw;
  height: 100vh;
}

.main.started {
  cursor: none;
}

.follow {
  position: absolute;
  transform: translate(-50%, -50%) scale(15);
  height: 200%;
  width: 200%;
  left: 50%;
  top: 50%;
  background-image: radial-gradient(
    circle at center,
    transparent 75px,
    #000 100px
  );
  transition: transform 1s;
  pointer-events: none;
  z-index: 5;
}

.follow.started {
  transform: scale(1) translate(-50%, -50%);
  cursor: none;
}

.developerContainer {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  opacity: 1;
}

.invisible {
  opacity: 0 !important;
}

.container {
  position: absolute;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 1;
}

.container h1 {
  font-size: 4rem;
  margin: 0;
}

.container p {
  margin: 0;
}
